<div class="container bg-danger text-white">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <h2>Animal L♡versとは</h2><br />

      <p>
      動物専門の写真投稿サイトです。<br />
      動物の可愛い写真や面白い写真を投稿することで、<br />
      様々なユーザと共有することができます。
      </p><br />
    </div>

    <div class="col-md-5">
      <h2>STORY</h2><br />

      <p>
        動物の写真を見ると、荒んだ心も癒されますよね。<br />
        また、「我が子の姿をみんなに見て欲しい！」と思ったとしても、
        動画を編集・投稿するとなると、敷居が高く感じる方は多いのではないでしょうか。<br />
        それなら簡単に写真を共有できるような場を作れば
        誰もが気軽に参加できるのではないかと思い、このサイトを作りました。<br />
        少しでも多くの方に癒しを提供できる場となれば光栄です。
      </p><br />
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class='about-visual'></div><br />
    </div>
  </div>
</div>