<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="top-visual d-none d-md-block"></div>
    </div>

    <div class="col-md-7">
      <div class="display-4 font-weight-bold">心の充電、<br />
          足りていますか
      </div><br />

      <h5 class="font-weight-bold">
        Animal L♡versをはじめる方は<br />
        <%= link_to "こちら", new_user_registration_path %>から
      </h5><br />

      <h5 class="font-weight-bold">
        会員の方は<br />
        <%= link_to "こちら", new_user_session_path %>から
      </h5>
    </div>
  </div>
</div>
