<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="top-visual d-none d-md-block"></div>
    </div>

    <div class="col-md-7">
      <h1 class="font-weight-bold">心の充電、<br />
          足りていますか。
      </h1><br />

      <p class="font-weight-bold">
        Animal L♡versをはじめる方は<br />
        <%= link_to "こちら", new_user_registration_path %>から
      </p><br />

      <p class="font-weight-bold">
        会員の方は<br />
        <%= link_to "こちら", new_user_session_path %>から
      </p>
    </div>
  </div>
</div>
