/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-visual{
  height :700px;
  background-image: image-url('IMG_0328.JPG');
  background-size: cover;
  background-position: center;
}

.about-visual{
  height :400px;
  background-image: image-url('IMG_0330.JPG');
  background-size: cover;
  background-position: center;
}

#error_explanation {
  color: red;
  padding-bottom: 20px;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  ul {
    padding-left: 50px;
    list-style: circle;
  }
}

.navbar-brand{
  font-family: Cursive, -apple-system, sans-serif;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.arrow {
  width: 50px;
}