<div class="container">
  <h2>会員一覧</h2><br />

  <div class="row">
    <div class="col-md-8 offset-md-2">
　    <table class="table">
　      <thead class="bg-light">
　        <tr>
　          <th>会員ID</th>
　          <th>名前</th>
　          <th>メールアドレス</th>
　          <th></th>
　        </tr>
　      </thead>

	    　<tbody>
	    　  <% @users.each do |user| %>
	    　		<tr>
	    　			<td><%= user.id %></td>
	    　			<td><%= user.name %></td>
	    　			<td><%= user.email %></td>
	    　			<td>
	    　			  <%= link_to "詳細", admin_user_path(user.id), class: "btn btn-primary" %>
	    　			</td>
	    　		</tr>
	    　	<% end %>
	    　</tbody>
　    </table>
　  </div>
　</div>
</div>
